extends ../layouts/_default.pug

block variables
    - const pageTitle = "Home page";
    - const pageDescription = "Gulp сборка для продуктивной верстки";
    - const pageLink = "";

block content 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iusto facilis cupiditate fuga beatae non eligendi at fugit blanditiis natus?